:root {
  --ora: #f2623e;
  --whi: #ffffff;
  --bla: #000000;
  --lig: #1d1d20;
  --gr1: #a1a0a0;
  --gr2: #e9e9e9;
}
#header .bottom{
  margin-bottom: 20px;
}
#header .background {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Dosis", sans-serif;
  justify-content: space-between;
}

#header .logo-placeholder {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

#header img {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#header .top-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
#header .tab-title {
  background-color: var(--lig);
  border-radius: 70px;
  margin: 10% 3%;
  margin-top: 0;
  height: 7vh;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
}

#header .tab-icon {
  height: 100%;
  width: 30%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
}

#header .tab-icon i {
  color: var(--gr1);
  justify-content: center;
  align-items: center;
}

#header .tab-info {
  height: 100%;
  width: 60%;
  box-sizing: border-box;
  color: var(--gr1);
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.7vw;
  font-family: "Dosis", sans-serif;
}
#header .tab-title:hover .tab-icon i,
#header .tab-title:hover .tab-info {
  color: #fff;
  transition: color 0.2s ease-in-out;
}
#header .tab-title.active .tab-icon i,
#header .tab-title.active .tab-info {
  color: var(--ora);
}

#header .button-placeholder {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
#header .left-button-login,
#header .right-button-register {
  height: 15%;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .left-button-login input,
#header .right-button-register input {
  height: 90%;
  width: 90%;
  background-color: var(--whi);
  color: var(--bla);
  border-radius: 20px;
  font-size: 1.7vw;
  padding-bottom: 10%;
  cursor: pointer;
  font-family: "Dosis", sans-serif;
}
#header .right-button-register input {
  background-color: var(--ora);
  color: var(--whi);
}
#header .right-button-register input:hover,
#header .left-button-login input:hover {
  transform: scale(108%);
}
#header .footer-placeholder {
  width: 100%;
  box-sizing: border-box;
  color: var(--gr1);
  font-size: 1.2vw;
  padding-left: 5%;
}
#header .footer-placeholder p {
  width: 50%;
}
#header .footer-placeholder p:hover {
  color: var(--whi);
  cursor: pointer;
}
#header .tab-notice {
  position: absolute;
  padding: 5% 3%;
  right: calc(-90%);
  color: var(--whi);
  border-radius: 20px;
  background-color: var(--ora);
  width: 80%;
  font-size: 100%;
  top: 10%;
  display: none;
}
#header .tab-notice::before {
  content: "";
  background-color: var(--ora);
  position: absolute;
  top: 20px;
  left: -3px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  z-index: -1;
}
#header .tab-notice-headline {
  padding-top: 1%;
  margin-bottom: 2%;
}
#header .tab-notice-info {
  font-size: 70%;
}
#header .tab-notice .button-placeholder {
  display: flex;
  justify-content: right;
  height: auto;
}
#header .tab-notice input {
  height: auto;
  width: 25%;
  color: var(--gr1);
  background-color: var(--ora);
  font-size: 80%;
  padding: 1%;
  cursor: pointer;
  font-family: "Dosis", sans-serif;
  border-radius: 20px;
  border: none;
  margin: 1%;
}
#header .tab-notice .button-placeholder input:nth-child(2) {
  background-color: var(--whi);
  color: var(--ora);
}
#header .tab-notice .button-placeholder input:nth-child(2):hover {
  transform: scale(105%);
}
#header .tab-notice .button-placeholder input:nth-child(1):hover {
  color: var(--whi);
}
