:root {
  --ora: #f2623e;
  --whi: #ffffff;
  --bla: #000000;
  --lig: #1d1d20;
  --gr1: #a1a0a0;
  --gr2: #e9e9e9;
}

#header .background {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Dosis", sans-serif;
}

#header .logo-placeholder {
  width: 100%;
  height: 25%;
  box-sizing: border-box;
  position: relative;
}

#header img {
  width: 90%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 5%;
}

#header .top-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35%;
  box-sizing: border-box;
}
#header .tab-title {
  background-color: var(--lig);
  border-radius: 70px;
  margin: 10% 3%;
  margin-top: 0;
  height: 25%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
}
#header .tab-title:nth-child(4)::after{
  content: '';
  position: absolute;
  margin: 0 5%;
  height: 300%;
  width: 90%;
  background-color: var(--whi);
  border: 3px var(--ora) solid;
  border-radius: 30px;
  bottom: -50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr;
}

#header .tab-icon {
  height: 100%;
  width: 30%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
}

#header .tab-icon i {
  color: var(--gr1);
  justify-content: center;
  align-items: center;
}

#header .tab-info {
  height: 100%;
  width: 60%;
  box-sizing: border-box;
  color: var(--gr1);
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.7vw;
  font-family: "Dosis", sans-serif;
}
#header .tab-title:hover .tab-icon i,
#header .tab-title:hover .tab-info {
  color: #fff;
  transition: color 0.2s ease-in-out;
}
#header .tab-title.active .tab-icon i,
#header .tab-title.active .tab-info {
  color: var(--ora);
}

#header .button-placeholder {
  height: 35%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
#header .left-button-login,
#header .right-button-register {
  height: 15%;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .left-button-login input,
#header .right-button-register input {
  height: 90%;
  width: 90%;
  background-color: var(--whi);
  color: var(--bla);
  border-radius: 20px;
  font-size: 1.7vw;
  padding-bottom: 10%;
  cursor: pointer;
  font-family: "Dosis", sans-serif;
}
#header .right-button-register input {
  background-color: var(--ora);
  color: var(--whi);
}
#header .right-button-register input:hover,
#header .left-button-login input:hover {
  transform: scale(108%);
}
#header .footer-placeholder {
  height: 5%;
  width: 100%;
  box-sizing: border-box;
  color: var(--gr1);
  font-size: 1.2vw;
  padding-left: 5%;
}
#header .footer-placeholder p {
  width: 50%;
}
#header .footer-placeholder p:hover {
  color: var(--whi);
  cursor: pointer;
}
