#myaccount {
    display: flex;
    flex-direction: column;
    font-family: "Dosis", sans-serif;
    font-size: 25px;
    font-weight: 900;
    background-color: var(--lig);   
    color: var(--whi);
    padding: 20px 0px 0px 50px;
    width: 50%;
    height: 100%;   
}
#myaccount .profile{
  font-size: 30px;
}
#myaccount .name{
    display: grid;
    grid-template-columns: 1fr 1fr;   
}
#myaccount .form{
    
}
#myaccount .FirstName{
    font-family: "Dosis", sans-serif;
    background-color: var(--gr2);
    padding-left: 10px;
    font-size: 20px;
    width: 90%;
    height: 40px;
    border-radius: 50px;
}   
#myaccount .LastName{
    font-family: "Dosis", sans-serif;
    background-color: var(--gr2);
    padding-left: 10px;
    font-size: 20px;
    width: 90%;
    height: 40px;
    border-radius: 50px;
}
#myaccount .username{
    font-family: "Dosis", sans-serif;
    background-color: var(--gr2);
    padding-left: 10px;
    font-size: 20px;
    width: 95%;
    height: 40px;
    border-radius: 50px;
}
#myaccount .password{
    font-family: "Dosis", sans-serif;
    background-color: var(--gr2);
    padding-left: 10px;
    font-size: 20px;
    width: 95%;
    height: 40px;
    border-radius: 50px;
}
#myaccount .EmailAddress{
    font-family: "Dosis", sans-serif;
    background-color: var(--gr2);
    padding-left: 10px;
    font-size: 20px;
    width: 95%;
    height: 40px;
    border-radius: 50px;
}
#myaccount .PhoneNumber{
    font-family: "Dosis", sans-serif;
    background-color: var(--gr2);
    padding-left: 10px;
    font-size: 20px;
    width: 95%;
    height: 40px;
    border-radius: 50px;
}
#myaccount .idnumber{
    font-family: "Dosis", sans-serif;
    background-color: var(--gr2);
    padding-left: 10px;
    font-size: 20px;
    width: 95%;
    height: 40px;
    border-radius: 50px;
}

#myaccount .button{
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;  
}