* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
:root {
  --ora: #f2623e;
  --whi: #ffffff;
  --bla: #000000;
  --lig: #1d1d20;
  --gr1: #a1a0a0;
  --gr2: #e9e9e9;
}
header {
  width: 15%;
  background-color: var(--bla);
  height: 100vh;
  position: fixed;
}

main {
  width: 85%;
  float: right;
  background-color: var(--lig);
  min-height: 100vh;
}
#search {
  height: 7vh;
  width: 85%;
  position: fixed;
  top:0;
  right: 0;
}
#content {
  padding-top: 7vh;
}
#songControl {
  display: fixed;
}
