* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Ora: #f2623e;
  --Whi: #ffffff;
  --Bla: #000000;
  --Lig: #1d1d20;
  --Gr1: #a1a0a0;
  --Gr2: #e9e9e9;
}
header {
  width: 15%;
  background-color: var(--Bla);
  height: 100vh;
  position: fixed;
}

main {
  width: 85%;
  float: right;
  /* background-color: brown; */
  /* height: 3000px; */
}
#search {
  height: 6vh;
  width: 100%;
  background-color: yellow;
  position: fixed;
  /* z-index: 1000; */
}
#content {
  /* padding-top: 40px; */
}
#songControl {
  display: fixed;
}
