#search {
  display: flex;
  background-color: var(--whi);
  align-items: center;
  padding: 0 15px;
}
#search .search-container,
#search .drop-menu-container,
#search .price-container {
  width: 25%;
  display: flex;
  justify-content: center;
}
#search .search-container {
  width: 50%;
}
#search .search,
#search .drop-menu,
#search .price {
  height: 3vh;
  width: 90%;
  background-color: var(--gr2);
  border-radius: 25px;
  padding-left: 5px;
  display: flex;
  align-items: center;
}

#search input,
#search select {
  height: 100%;
  width: 95%;
  background-color: var(--gr2);
  border: none;
  outline: none;
  border-radius: 20px;
  padding-left: 3px;
}
#search .price{
  display: flex;
  justify-content: space-between;
}
#search .price input{
  width: 80%;
  padding: 0;
}